nav {
  display: flex;
  align-items: center;
  padding: 1% 3%;
  position: absolute;
  justify-content: center;
  column-gap: 1.5em;
  align-items: center;
  bottom: 0;
  z-index: 6;
  font-family: "Fraunces", sans-serif;
  width: 100%;
  max-width: 100dvw;
}

nav h2 {
  color: oklch(1 0.1147 28.07);
  font-size: 1.6rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  nav h2 {
    font-size: 7dvw;
  }
}
