.container {
  display: flex;
  max-height: 90dvh;
  scrollbar-width: none;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-width: 90%;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 80px;
  justify-content: space-around;
  min-height: 100dvh;
  place-items: center;
  padding: 3%;
}

.project {
  color: oklch(1 0.1147 28.07);
  max-width: 85%;
  min-height: 30dvh;
  font-family: "Stack Sans Notch", sans-serif;
  max-height: 90%;
  scrollbar-width: none;
  display: flex;
}

.project p {
  font-size: 1.2rem;
}

.project img {
  border-radius: 10px;
}

.article {
  display: flex;
  max-width: 50%;
  padding: 2%;
  flex-direction: column;
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: space-between;
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  align-items: center;
}

.head a {
  font-size: 30px;
}

.head > div {
  display: flex;
  column-gap: 20px;
  padding: 1%;
}

.img {
  min-width: 50%;
  max-width: 50%;
}

.technologies {
  display: flex;
  column-gap: 30px;
  font-size: 30px;
}

@media screen and (max-width: 820px) {
  .project img {
    width: 90%;
  }

  .img {
    min-width: 80%;
    max-width: 60dvw;
  }

  .project {
    min-width: 80%;
    max-width: 95%;
    row-gap: 20px;
    min-height: 50dvh;
    flex-direction: column;
  }
  .head {
    font-size: 1.5rem;
  }
  .article {
    row-gap: 30px;
    max-width: 90%;
  }
}
